tr.f-loaded:not(.k-state-selected) {
    background-color: khaki;
}

span.f-loaded {
    font-weight: bold;
    color: blue;
}

span.f-canceled {
    font-weight: bold;
    color: red;
}

tr.f-canceled:not(.k-state-selected) {
    background-color: darksalmon;
}

tr.f-done:not(.k-state-selected) {
    background-color: lightgreen;
}

span.f-done {
    font-weight: bold;
    color: forestgreen;
}

.i-change {
    height: 16px;
    cursor: pointer;
    background: url("./images/16/database-edit.png") no-repeat;
}

.i-exec {
    height: 16px;
    cursor: pointer;
    background: url("./images/16/exec_.png") no-repeat;
}
