<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования файлов web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    В следующем примере преобразование "SetAttributes" будет изменять значение
    "connectionString" с целью использования "ReleaseSQLServer", только когда
    указатель "Match" находит атрибут "name", который имеет значение "MyDB".
    
    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.webServer>
    <httpErrors errorMode="Detailed" xdt:Transform="Insert" />
  </system.webServer>
  <connectionStrings>
    <add name="AD_ASU" connectionString="LDAP://10.1.2.200:389/DC=asu,DC=tatneft,DC=ru" xdt:Transform="Insert" />
    <add name="AD_DJALIL" connectionString="LDAP://10.3.1.15:389/DC=djalil,DC=tatneft,DC=ru" xdt:Transform="Insert" />
    <add name="AD_PRIKAM" connectionString="LDAP://10.9.2.30:389/DC=prikam,DC=tatneft,DC=ru" xdt:Transform="Insert" />
    <add name="AD_JAMASH" connectionString="LDAP://10.1.8.6:389/DC=jamash,DC=tatneft,DC=ru" xdt:Transform="Insert" />
    <add name="AD_ALMET" connectionString="LDAP://10.1.6.2:389/DC=almet,DC=tatneft,DC=ru" xdt:Transform="Insert" />
    <add name="AD_ELKHOV" connectionString="LDAP://10.1.10.100:389/DC=elkhov,DC=tatneft,DC=ru" xdt:Transform="Insert" />
    <add name="AD_HQ" connectionString="LDAP://10.1.4.5:389/DC=hq,DC=tatneft,DC=ru" xdt:Transform="Insert" />
    <add name="AD_NURLAT" connectionString="LDAP://10.7.2.5:389/DC=nurlat,DC=tatneft,DC=ru" xdt:Transform="Insert" />
    <add name="AD_UTT" connectionString="LDAP://10.1.2.139:389/DC=utt,DC=tatneft,DC=ru" xdt:Transform="Insert"/>
    <add name="AD_RS" connectionString="LDAP://10.1.2.66:389/DC=rs,DC=tatneft,DC=ru" xdt:Transform="Insert"/>
  </connectionStrings>
  <location path="Content/Login.css" xdt:Transform="Insert">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Forms" xdt:Transform="SetAttributes(mode)">
      <forms name=".ADAuthCookie" loginUrl="~/Account/Login" timeout="4775807" slidingExpiration="false" protection="All" xdt:Transform="Insert"/>
    </authentication>
    <authorization xdt:Transform="Remove" />
    <authorization xdt:Transform="InsertAfter(/configuration/system.web/authentication)">
      <deny users="?" />
    </authorization>
    <membership defaultProvider="AD_ASU_MembershipProvider" xdt:Transform="InsertAfter(/configuration/system.web/authentication)">
      <providers>
        <clear />
        <add name="AD_ASU_MembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="AD_ASU" attributeMapUsername="sAMAccountName" xdt:Transform="Insert" />
        <add name="AD_DJALIL_MembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="AD_DJALIL" attributeMapUsername="sAMAccountName" xdt:Transform="Insert" />
        <add name="AD_PRIKAM_MembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="AD_PRIKAM" attributeMapUsername="sAMAccountName" xdt:Transform="Insert" />
        <add name="AD_JAMASH_MembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="AD_JAMASH" attributeMapUsername="sAMAccountName" xdt:Transform="Insert" />
        <add name="AD_ALMET_MembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="AD_ALMET" attributeMapUsername="sAMAccountName" xdt:Transform="Insert" />
        <add name="AD_ELKHOV_MembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="AD_ELKHOV" attributeMapUsername="sAMAccountName" xdt:Transform="Insert" />
        <add name="AD_HQ_MembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="AD_HQ" attributeMapUsername="sAMAccountName" xdt:Transform="Insert" />
        <add name="AD_NURLAT_MembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="AD_NURLAT" attributeMapUsername="sAMAccountName" xdt:Transform="Insert" />
        <add name="AD_UTT_MembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="AD_UTT" attributeMapUsername="sAMAccountName" xdt:Transform="Insert"/>
        <add name="AD_RS_MembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="AD_RS" attributeMapUsername="sAMAccountName" xdt:Transform="Insert"/>
      </providers>
    </membership>
    <customErrors mode="Off" xdt:Transform="Insert"/>
  </system.web>
</configuration>