@model CoreWeb.Models.Catalog.GroupedListModel
<div id="menu-panel" class="k-toolbar" style="border-style: none">
    <ul id="menu" style="border-style: none; background-color: transparent; background-image: none;"></ul>
</div>
<div id="orgtree" style="border-width: 1px"></div>
<script>
    var t = asu.org.tree({ container: $("#orgtree"), baseGroup: "@Model.GroupID", popup: editWnd, controller: "@Url.Action("")" });
    newElement = function (id) { t.newElement(id) }
    newGroup = function (id) { t.newGroup(id) }
    editGroup = function (id) { t.editGroup(id) }
    editElement = function (id) { t.editElement(id) }
    var ds = asu.common.menuData("Организацию");
    var ap = { add: function () { t.add() }, add_o: function () { t.add_o() }, edit: function () { t.edit() }, del: function () { t.del() }, role: function () { asu.role.access.popup(t.curID(), t.curItem()["Name"]) } };
    asu.common.mainMenu({ items: ds, owner: ap });
    function resizeContainers() {
        var headerHeight = $("#menu-panel").outerHeight(true);
        t.element.height(mainHeight() - headerHeight - 2);
    }
    $(document).ready(resizeContainers);
</script>

