@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="editDialog"></div>
<script>
    var editWnd = asu.common.modal({ container: $("#editDialog") });
    function mainHeight() {
        return $(window).height();
    }
</script>
@RenderBody()
<script type="text/javascript">
    $(window).resize(resizeContainers);
</script>