@model CoreWeb.Models.Catalog.GroupedListModel
@{
    Layout = "~/Views/Shared/_Intermediary.cshtml";
    ViewBag.Title = Model.Title;
}
<div id="content" class="scroller">
    @Html.Partial("GroupedCatalogPartial", Model)
</div>