<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="fuelConfigGroup">
      <section name="fuelConfig" type="FuelAPI.Config.FuelConfig, FuelAPI" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="CoreEntities1" connectionString="metadata=res://*/CoreDMPostgres.csdl|res://*/CoreDMPostgres.ssdl|res://*/CoreDMPostgres.msl;provider=Npgsql;provider connection string=&quot;Username=geocat;Password=geocat;Host=localhost;Database=tsq;Application Name=Test&quot;" providerName="System.Data.EntityClient" />
    <add name="CoreEntities" connectionString="metadata=res://*/CoreDMPostgres.csdl|res://*/CoreDMPostgres.ssdl|res://*/CoreDMPostgres.msl;provider=Npgsql;provider connection string=&quot;Username=geocat;Password=geocat;Host=10.1.101.207
      ;Database=tsq;Application Name=Test&quot;" providerName="System.Data.EntityClient" />
    <add name="ChuvDS" connectionString="Data Source=192.168.1.145;Initial Catalog=Logistics;Persist Security Info=True;User ID=Almet;Password=Almet2009"/>
    <add name="LogisticDS" connectionString="Data Source=10.1.101.41;Initial Catalog=NewLogistics;Persist Security Info=True;User ID=OPER;Password=admin_new"/>
  </connectionStrings>
  <fuelConfigGroup>
    <fuelConfig>
      <paths out="C:/Src/RBE/Core/FuelAPI/FilesOut/" error="C:/Src/RBE/Core/FuelAPI/FilesError/"></paths>
      <eMail host="10.1.101.1" port="110" userid="ttn" pass="14569"></eMail>
      <ftpBUK host="ftp://pc.tatais.ru:10021/ForTTN/" userid="ttnforazs" pass="123qweasd"></ftpBUK>
      <ftpSource userid="TTNAdmin" pass="A@fi65&amp;">
        <folder path="ftp://10.1.101.41/TTN/"></folder>
        <folder path="ftp://10.1.101.41/Kazan/"></folder>
      </ftpSource>
    </fuelConfig>
  </fuelConfigGroup>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql"/>
    </providers>
  </entityFramework>
</configuration>
