@model CoreWeb.Models.Catalog.CatalogModel
<div id="toolbar" style="border-style:none none solid none" data-role="toolbar" data-bind="events:{click:cmd}" data-items="@Html.Raw(string.Format(
        "[{0}{1}{2}]", "{ 'type': 'button', 'id': 'menu', 'spriteCssClass': 'i-menu' }",
        ",{'type': 'buttonGroup', 'buttons': [{ 'id': 'add', 'spriteCssClass': 'i-add' }" +
        ",{ 'id': 'edit', 'spriteCssClass': 'i-edit' },{ 'id': 'del', 'spriteCssClass': 'i-del'},{ 'id': 'reload', 'spriteCssClass': 'i-reload'}]}",
        Model.Columns.Any(p => p.Exportable) ? ",{ 'type': 'button', 'id': 'saveAsExcel', 'spriteCssClass': 'i-excel', text: ' Экспорт в Excel' }" : ""))"></div>
<div id="grid" style="border-style: none; height: 100%;" data-role="grid" data-selectable="true" data-sortable="true" data-filterable="{extra:false}" data-excel="{fileName:'Orders.xlsx',allPages:true}"
     data-scrollable="true" data-detail-template="detailTemplate" data-pageable="true" data-bind="source: elements, events: {detailInit:detailInit,dataBound:dataBound }" data-columns='[@Html.KendoGridColumns(Model.Columns)]'></div>
@*<div data-role="window" data-title="Смена АЗС" data-width="615" data-modal="true" data-draggable="false"
                 data-actions="{}" data-bind="visible:visibleCS,events:{open:openDialog}">gngngn</div>*@
<script id="detailTemplate" type="text/x-kendo-template">
    <div data-role="grid" data-scrollable="false" data-sortable="true"
         data-bind="source:items"
         data-columns='[{field:"cmd",title:" ",width:30,template:"\#if(State.Code!=\"2\" && State.Code!=\"4\"){\#<div title=\"Сменить объект\" class=\"i-change\" data-bind=\"events:{click:changeStation}\"><\/div> \#}\#"},{field:"Customer.FullName",title:"Грузополучатель"},{field:"Station.Name",title:"АЗС",width:70},{field:"TankNum",title:"Резервуар",width:90},{field:"Product.Name",title:"Продукт",width:80},{field:"SectionNum",title:"Секция",sortable:"true",width:60},{field:"Volume",title:"Объем",width:60,template:"\#= kendo.parseFloat(Volume)\#"},{field:"State.Name",title:"Состояние",template:"<span class=\"\#:State.Description\#\">\#:State.Name\#<\/span> (\#:kendo.toString(kendo.parseDate(ReceiveDate),\"dd.MM.yyyy HH:mm\")\#)"},{field:"VolumeFact",title:"Объем факт",width:100,template:"\#= kendo.parseFloat(VolumeFact)\#"},{field:"WaybillNum",title:"ТТН",template:"\#if(WaybillNum!=null) {\#№\#: WaybillNum \# от \#: kendo.toString(kendo.parseDate(WaybillDate),\"dd.MM.yyyy\") \# \#}\#"},{field:"Weight",title:"Масса",width:80},{field:"Density",title:"Плотность",width:80}]'>
    </div>
</script>
<script>
    var orderModel = asu.fuel.orderModel({
        container: $("#grid"),
        fields: {@Html.KendoModelFields(Model.Columns) },
        url: "@Url.Action("")",
        popup: editWnd,
        entity: "@Model.ODataEntity",
        expand: "@Model.ExpandEntity",
        columnsExcel: [@Html.KendoGridColumns(Model.Columns.Where(p=>p.Exportable).ToList())]});
    kendo.bind($("#content"), orderModel);
    function resizeContainers() {
        var headerHeight = $("#toolbar").outerHeight(true), dataGrid = $("#grid").data("kendoGrid");
        dataGrid.element.height(mainHeight() - headerHeight); dataGrid.resize();
    }
    $(document).ready(resizeContainers);
</script>