@model CoreWeb.Models.Catalog.CatalogModel
<div id="toolbar" style="border-style:none none solid none" data-role="toolbar" data-bind="events:{click:cmd}" data-items="@Html.Raw(string.Format(
        "[{0}{1}{2}]", "{ 'type': 'button', 'id': 'menu', 'spriteCssClass': 'i-menu' }",
        ",{'type': 'buttonGroup', 'buttons': [{ 'id': 'add', 'spriteCssClass': 'i-add' }" +
        ",{ 'id': 'edit', 'spriteCssClass': 'i-edit' },{ 'id': 'del', 'spriteCssClass': 'i-del'},{ 'id': 'reload', 'spriteCssClass': 'i-reload'}]}",
        Model.Columns.Any(p => p.Exportable) ? ",{ 'type': 'button', 'id': 'saveAsExcel', 'spriteCssClass': 'i-excel', text: ' Экспорт в Excel' }" : ""))"></div>
<div id="grid" style="border-style: none; height: 100%;" data-role="grid" data-selectable="true" data-sortable="true" data-filterable="{extra:false}"
     data-scrollable="true" data-detail-template="detailTemplate" data-pageable="true" data-bind="source: elements, events: { detailInit: detailInit }" data-columns='[@Html.KendoGridColumns(Model.Columns)]'></div>
<script id="detailTemplate" type="text/x-kendo-template">
    <div data-role="grid"
         data-scrollable="false"
         data-bind="source: Items"
         data-columns='[{field:"Station.Name",title:"АЗС"},{field:"TankNum",title:"Резервуар"},{field:"Product.Name",title:"Продукт"},{field:"SectionNum",title:"Секция"},{field:"Volume",title:"Объем"},{field:"WaybillNum",title:"Номер ТТН"},{field:"WaybillDate",title:"Дата ТТН"}]'>
    </div>
</script>
<script>
    var m = asu.fuel.orderModel({
        fields: {@Html.KendoModelFields(Model.Columns) },
        url: "@Url.Action("")",
        popup: editWnd,
        entity: "@Model.ODataEntity",
    expand: "@Model.ExpandEntity",
    columnsExcel: [@Html.KendoGridColumns(Model.Columns.Where(p=>p.Exportable).ToList())]});
    kendo.bind($("#content"), m);
    function resizeContainers() {
        var headerHeight = $("#toolbar").outerHeight(true), dataGrid = $("#grid").data("kendoGrid");
        dataGrid.element.height(mainHeight() - headerHeight); dataGrid.resize();
    }
    $(document).ready(resizeContainers);
</script>